<footer class="footer">
    <ul>
        <li><a href="#"></a><i class="fa-brands fa-github"></i></li>
        <li><a href="#"></a><i class="fa-brands fa-facebook"></i></li>
        <li><a href="#"></a><i class="fa-brands fa-twitter"></i></li>
        <li><a href="#"></a><i class="fa-brands fa-linkedin"></i></li>
    </ul>
</footer>
