<% extend("base") %>
<div class="container-fluid">
    <div class="about">
        <span>Our website is...</span>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla
            libero nisi laboriosam exercitationem? Numquam labore ea blanditiis
            fugiat adipisci aspernatur in eius exercitationem dolorum iusto,
            officia enim deleniti veniam delectus sunt illo cumque expedita qui
            laudantium maxime harum. Mollitia quaerat tempore tenetur
            reprehenderit dolorum necessitatibus ratione quae deleniti
            reiciendis adipisci maiores, quas unde totam beatae eligendi
            laudantium nostrum laborum qui minus quasi accusantium voluptas
            odio! Obcaecati, blanditiis? Natus nemo omnis voluptas placeat
            labore, dignissimos iste asperiores dicta debitis voluptate officiis
            autem dolorum ducimus illo quia repellendus eaque ipsum ea,
            voluptatum deleniti iusto dolor cupiditate reprehenderit. Similique
            harum nam magni aspernatur.
        </p>
    </div>
</div>

<%- include("./partials/footer.ejs"); %>
